html {
	font-size: 16px;
	font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

h2 {
	font-size: 1.75rem;
	text-align: center;
	color: white;
	background-color: black;
}

h4 {
	font-size: 2rem;
	text-align: center;
	color: white;
	background-color: black;
}

p {
	font-size: 1.5rem;
	text-align: center;
}

img.icon {
	display: block;
	margin: auto;
	width: 500px;
}

div {
	height: 400px;
	width: 100%;
	padding-bottom: 25px;
	padding-top: 25px;
	display: inline-block;
}

div img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


footer {
	font-size: .5rem;
	text-align: center;
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
img {

}	
@media (min-resolution: 192dpi) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


